@model CloverleafTrack.ViewModels.AthleteViewModel

@{
    ViewData["Title"] = Model.Athlete.Name;
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">@Model.Athlete.Name</h1>
    <p class="lead">Class of @Model.Athlete.GraduationYear</p>
</div>

<h1 class="h3">Lifetime Bests</h1>
<table class="table table-hover table-striped">
    <thead>
    <tr>
        <th>Event</th>
        <th>Performance</th>
        <th>Date</th>
        <th>Meet</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var lifetimePr in Model.LifetimePrs)
    {
        <tr>
            <th>@lifetimePr.Key.Name</th>
            <td>@lifetimePr.Value.PerformanceFormatted</td>
            <td>@lifetimePr.Value.Meet.Date.ToShortDateString()</td>
            <td>@lifetimePr.Value.Meet.Name</td>
        </tr>
    }
    </tbody>
</table>

<h1 class="h3">Meet Results</h1>

@foreach (var meetResult in Model.MeetResults)
{
    <h1 class="h4">@meetResult.Key.Name - @meetResult.Key.Date.ToShortDateString()</h1>
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>Event</th>
            <th>Performance</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var performance in meetResult.Value)
        {
            <tr>
                <td>@performance.TrackEvent.Name</td>
                <td>@performance.PerformanceFormatted</td>
            </tr>
        }
        </tbody>
    </table>
}