@model HomeViewModel 

@{
    ViewData["Title"] = "Home";
}

<div class="border-bottom pt-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">
                Home
            </li>
        </ol>
    </nav>
</div>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="display-1">Welcome!</h1>
</div>

<p class="lead">
    Welcome to the Cloverleaf Track and Field statistics website.
</p>

<p>
    In total, there are <strong>@Model.PerformanceCount</strong> performances for <strong>@Model.AthleteCount</strong> athletes from <strong>@Model.MeetCount</strong> meets across <strong>@Model.SeasonCount</strong> seasons of Cloverleaf Track.
</p>

<p>
    A lot of this website was manually updated, so if something seems wrong, it very likely could be. Please <a href="mailto:tony@morriscloud.com">email me</a> if you notice anything needs corrected!
</p>

<p>
    This website was last updated on @Model.LastUpdated.ToLocalTime().ToString("D") at @Model.LastUpdated.ToLocalTime().ToString("h:mm:ss tt")
</p>
