@model LeaderboardViewModel

@{
    ViewData["Title"] = "Leaderboard";
}

<div class="border-bottom pt-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="breadcrumb-item active">
                Leaderboard
            </li>
        </ol>
    </nav>
</div>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="display-1">
        Leaderboard
    </h1>
</div>

<div class="container-fluid p-0">
    <div class="row">
        <div class="col-sm-6 ml-1 mr-1">
            <div class="row shadow rounded bg-light p-3 m-3">
                <h3 class="border-bottom pb-1 text-center">
                    Boys
                </h3>
                <table class="table table-hover table-striped table-sm">
                    <caption>Boys Leaderboard</caption>
                    <thead class="table-dark">
                    <tr>
                        <th>Event</th>
                        <th>Athlete</th>
                        <th>Performance</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var ev in Model.BoysEvents)
                    {
                        <tr>
                            <th class="col-4 align-middle">
                                <a asp-area="" asp-controller="Home" asp-action="EventLeaderboard" asp-route-eventName="@ev.Key.UrlName">
                                    @ev.Key.Name
                                </a>
                            </th>
                            <td class="col-3 align-middle">
                                <ul class="list-unstyled mb-0">
                                    @foreach (var athlete in ev.Value.Value)
                                    {
                                        <li>
                                            <a asp-area="" asp-controller="Home" asp-action="Athlete" asp-route-name="@athlete.UrlName">
                                                @athlete.Name
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </td>
                            <td class="col-3 align-middle">@ev.Value.Key.PerformanceFormatted</td>
                            <td class="align-middle">@ev.Value.Key.Meet.Date.ToString("MM/dd/yyyy")</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-6 ml-1 mr-1">
            <div class="row shadow rounded bg-light p-3 m-3">
                <h3 class="border-bottom pb-1 text-center">
                    Girls
                </h3>
                <table class="table table-hover table-striped table-sm">
                    <caption>Girls Leaderboard</caption>
                    <thead class="table-dark">
                    <tr>
                        <th>Event</th>
                        <th>Athlete</th>
                        <th>Performance</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                        @foreach (var ev in Model.GirlsEvents)
                        {
                            <tr>
                                <th class="col-4 align-middle">
                                    <a asp-area="" asp-controller="Home" asp-action="EventLeaderboard" asp-route-eventName="@ev.Key.UrlName">
                                        @ev.Key.Name
                                    </a>
                                </th>
                                <td class="col-3 align-middle">
                                    <ul class="list-unstyled mb-0">
                                        @foreach (var athlete in ev.Value.Value)
                                        {
                                            <li>
                                                <a asp-area="" asp-controller="Home" asp-action="Athlete" asp-route-name="@athlete.UrlName">
                                                    @athlete.Name
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </td>
                                <td class="col-3 align-middle">@ev.Value.Key.PerformanceFormatted</td>
                                <td class="align-middle">@ev.Value.Key.Meet.Date.ToString("MM/dd/yyyy")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>