@model RosterViewModel

@{
    ViewData["Title"] = "Roster";
}

<div class="border-bottom pt-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="breadcrumb-item active">
                Roster
            </li>
        </ol>
    </nav>
</div>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="display-1">
        Roster
    </h1>
</div>

<p class="lead">
    This page lists the athletes that have competed for Cloverleaf Track and Field.
</p>

<p>
    Click on the athlete's name to view their profile page for more information!
</p>

<div class="shadow rounded bg-light p-3 pb-0 mb-3">
    <h3 class="border-bottom pb-1">
        Current Athletes
    </h3>
    <table class="table table-hover table-striped table-sm">
        <caption>Current Cloverleaf Athletes</caption>
        <thead class="table-dark">
        <tr>
            <th scope="col" class="col-sm-4">Name</th>
            <th scope="col">Graduation Year</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var athlete in Model.CurrentAthletes)
        {
            <tr>
                <td>
                    <a asp-area="" asp-controller="Home" asp-action="Athlete" asp-route-name="@athlete.UrlName">@athlete.Name</a>
                </td>
                <td>@athlete.GraduationYear</td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div class="shadow rounded bg-light p-3 pb-0">
    <h3 class="border-bottom pb-1">
        Graduated Athletes
    </h3>
    <table class="table table-hover table-striped table-sm">
        <caption>Graduated Cloverleaf Athletes</caption>
        <thead class="table-dark">
        <tr>
            <th scope="col" class="col-sm-4">Name</th>
            <th scope="col">Graduation Year</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var athlete in Model.GraduatedAthletes)
        {
            <tr>
                <td>
                    <a asp-area="" asp-controller="Home" asp-action="Athlete" asp-route-name="@athlete.UrlName">@athlete.Name</a>
                </td>
                <td>@athlete.GraduationYear</td>
            </tr>
        }
        </tbody>
    </table>
</div>